body {
  font-size: 120%;
}

a {
  color: blue;
}

a:hover {
  color: blueviolet;
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: blue;
  border-radius: 5px;
  padding: 2px 10px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: blueviolet;
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.start {
  text-align: center;
}

.results {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}


